

#txt{
 
}
 
    #ft{
      background-color: grey;
    }
    .list-inline{
      color: black;
    }
   .newsletter{
padding: 80px 0;
background:grey;
} 

.newsletter .content {
max-width: 650px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; }
.newsletter .content h2 {
color: #243c4f;
margin-bottom: 40px; }
.newsletter .content .form-control {
height: 50px;
border-color: #ffffff;
border-radius:0;
}
.newsletter .content.form-control:focus {
box-shadow: none;
border: 2px solid #243c4f;
}
.newsletter .content .btn {
min-height: 50px; 
border-radius:0;
background: #243c4f;
color: #fff;
font-weight:600;
}
     
    
 .footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}


.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}


 /* a:hover {
 
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
}  */
    .nav-link {
      color: white;
      background-color:black;
      text-decoration: none;
    }

    .d-flex {
      width: 650px;
    }

    .card-img-top {
     width: 295px;
     height: 280px;
    }
      
   .card-title{
     text-align: center;
   }
   .card-text{
     text-align: center;
   }
      .box-shadow{
  box-shadow: 0px 2px 10px rgba(0, 0, 0,0.2) ;

      }
      #txt{
        color: white;
        text-decoration: none;
      }
      .card box-shadow  {
        justify-content: space-between;
        color: white;
      }
      .navbar {
        background-color: black ;

      }
      .card-body{
        background-color: white ;
       
      }
      .navbar-brand{
        color: white;
        
      }
      
      

.main{
  background-color: lightgray;
}

.maindiv{
    background-color: lightgray;
}

.cont h1{
    text-align: center;
    color: black;
}

.file h1{
    text-align: left;
    margin: 20px;
    padding: 20px;
    margin-right: 10px;
    margin-left: 160px;
    color: coral;
    
}

.image img{
    margin: 10px;
    padding: 10px;
    margin-top: -20px;
    margin-right: 40px;
    margin-left: 100px;
    width: 30%;
/* }

.run p{
    color:gray;
    margin: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bolder;
    margin-left: 120px;
    margin-right: 40px ;
} */

.help{
    margin-right: 20px;
    margin-left: 30px;
}
/* 
.code{
    font-weight: bolder;
    margin-right: 10px;
    margin-left: 30px;
    color: gray; */
}


.edit h1{
     color: coral;
     margin: 80px;
     margin-top: -675px;
}


.view img{
      margin: 450px;
      padding: 90px;
      margin-right: 130px;
      margin-left: 550px;
      margin-top: -137px;
      width: 40%;
      height: 45%;
}

.terminal p{
    margin-right: 70px;
    margin-left: 630px;
    margin-top: -110px;
    margin-bottom: 70px;
   
}

.product2{
    margin-right: 40px;
    margin-left: 1250px;
    margin-top: -450px;
    margin-bottom: -90px;
    color: coral;
}

.pp img{
    margin-right: 250px;
    margin-left: 1100px;
    margin-top: 130px;
    margin-bottom: 100px;
}

.lld p{
    margin-right: 50px;
    margin-left: 1150px;
    margin-top: 20px;
    margin-bottom: 10px;

    color: gray;
    font-weight: bolder;
    
}

.container3{
    background-color: whitesmoke;
}


.add{
   margin: 20px;
   padding: 30px;
   color: rgb(95, 50, 50);

}


.foot p{
    color: gray;
    font-weight: bolder;
    margin: 20px;
    padding: 30px;
}

#end{
    background-color: gray;
}

.ourpro{
    background-color: #007b5e
}

/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: gray !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
}

$lightBg: #f2f2f2;
$light: #999;
$high: #333;

$BP: 35em;

html,
body {
  width: 100%;
  height: 100%;
  background: $lightBg;
}

h1,
p {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

p {
  padding: .5em 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

@media (max-width: $BP) {
  .left,
  .right {
    float: left;
    clear: left;
  }
}

.form {
  width: 0;
  height: 0;
  margin-left: 5%;
  background: darken($lightBg, 10%);
  overflow: hidden;
  position: absolute;
  z-index: 10;
  transition: height .5s ease, width .5s ease .5s;
  
  h2 {
    width: 100%;
    text-align: center;
    color: $high;
    font-size: 2rem;
    margin: 1.5rem 0 3rem;
  }
  
  form {
    max-height: 100%;
    height: auto;
    
    @media (max-width: $BP) {    
      height: auto; 
    }
  }
  
  .section {
    width: 40%;
    margin: 0 5%;
    height: calc(100% - 5rem);
    max-height: 100%;
    
    @media (max-width: $BP) {
      width: 90%;
      height: auto;
    }
  }
  
  ::-webkit-input-placeholder,
  :-moz-placeholder,
  ::-moz-placeholder,
  :-ms-input-placeholder {
    color: $light;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    box-sizing: border-box;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid $light;
    outline: none;
    color: $high;
    transition: border-color .5s ease;
    
    &:focus {
      border-color: $high;
    }
    
    &::invalid {
      border-color: #B31B1B;
    }
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    height: 2.5rem;
    margin-bottom: 1rem;
  }
  
  textarea {
    resize: none;
    height: 10rem;
    line-height: 1.5rem;
    
    @media (max-width: $BP) {
      height: 2.5rem;
      margin-bottom: 1rem;
      line-height: 2rem;
    }
  }
  
  .closeFormLabel,
  .sendForm {
    position: absolute;
    bottom: 1rem;
    width: 40%;
    margin: 0 5%;
    right: 0;
    text-align: center;
    border: 1px solid $light;
    padding: .5rem;
    background: inherit;
    cursor: pointer;
    box-sizing: border-box;
    transition: background-color .5s ease, border-color .5s ease;
    
    &:hover,
    &:focus {
      background-color: darken($lightBg, 15%);
      border-color: $high;
    }
    
    @media (max-width: $BP) {
      position: relative;
      width: 90%;
      left: 0;
      margin-top: 1em; 
    }
  }
  
  .closeFormLabel {
    left: 0;
    
    @media (max-width: $BP) {
      bottom: 1rem; 
    }
  }
}

input.showForm {
  display: none;
  
  &:checked + .form {
    width: 90%;
    height: 85%;
    box-shadow: 4px 5px 5px 5px darken($lightBg, 30%);
    overflow: auto;
    transition: width .5s ease, height .5s ease .5s;
  }
}

.showFormLabel {
  cursor: pointer;
  display: block;
  position: absolute;
  bottom: 10%;
  left: 25%;
  width: 50%;
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  text-align: center;
  color: $high;
  border: 1px solid $light;
  background: inherit;
  z-index: 1;
  transition: background-color .5s ease, border-color .5s ease;
   
    &:hover,
    &:focus {
      background-color: darken($lightBg, 5%);
      border-color: $high;
    }
  
  @media (max-width: $BP) {
    width: 90%;
    left: 5%;
  }
}